# Node & Express
node_modules/
.env

# Server
server/node_modules/
server/.env
build/

# client
client/node_modules/
client/.env
build/

# Logs
*.log

# Mac / Windows / Linux system files
.DS_Store
Thumbs.db
